<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="6248a2d9-e467-4015-b8d7-5ffc2b76ef02"
            Publisher="CN=jianfu.liu"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>EvvMobile.Windows</DisplayName>
    <PublisherDisplayName>jianfu.liu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="EvvMobile.Windows.App">
      <m2:VisualElements
          DisplayName="EvvMobile.Windows"
          Square150x150Logo="Assets\Logo.png"
          Square30x30Logo="Assets\SmallLogo.png"
          Description="EvvMobile.Windows"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>